body {
  background-color: #ff7f00;
  font-family: "McLaren", sans-serif;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: #ffffff;
  padding: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

h1 {
  text-align: center;
  font-size: 38px;
}

.city {
  display: flex;
  margin: 1S0px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 3px double #48c6fb;
}

.city:last-child {
  border: none;
}

h2 {
  margin: 0 0 10px;
  font-size: 32px;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 52px;
  font-weight: bold;
}

.time small {
  font-size: 28px;
  vertical-align: middle;
}

select {
  display: block;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 6px;
  padding: 10px;
}

a {
  color: #ffffff;
}

footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
